Repository all-rit/ALL, pull requests merged in 2023-04, with the labels that each got.

#296 #272 Continuation and staged bug fixes
  .github/ISSUE_TEMPLATE/defect-report.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/spike.md
  .github/ISSUE_TEMPLATE/story.md
  .github/ISSUE_TEMPLATE/task.md
  .github/workflows/deploy.yaml
  .github/workflows/node.js.yml
  README.md
  client/src/components/exercise/lab3/Main.js
  client/src/components/exercise/lab3/components/ExerciseButtons.js
  client/src/components/exercise/lab3/components/Repair.js
  client/src/components/exercise/lab3/pages/BeginnerExercise/CodeChange.js
  client/src/components/exercise/lab4/components/ExtraNav.jsx
  client/src/reducers/lab3/RepairReducer.js
  server/auth.js
  server/package-lock.json
  server/package.json
Labels: bug, dependencies

#318 Google Verification Header #316
  client/package-lock.json
  client/package.json
  client/src/App.js
Labels: bug

#339 338 chatroom reusability
  client/src/components/exercise/lab6/components/Recomendation.jsx
  client/src/components/exercise/lab8/components/ChatMessage.js
  client/src/components/exercise/lab8/components/ChatRoom.js
  client/src/components/exercise/lab8/pages/BiasedSimulation.jsx
  client/src/components/exercise/lab8/selectMessagesFns.js
  client/src/constants/lab8/messages.js
Labels: Lab 8

#340 321 create a page that explains sentiment analysis datasets for sentiment analysis and what polarity means
  client/src/components/exercise/lab8/Main.js
  client/src/components/exercise/lab8/pages/BiasDiscovery.js
  client/src/components/exercise/lab8/pages/SentimentAnalysisInfo.jsx
  client/src/components/header/header.js
Labels: Lab 8
