Repository all-rit/ALL, pull requests merged in 2024-04, with the labels that each got.

#582 581 story stub out jest in architecture
  .husky/pre-commit
  client/babel.config.js
  client/jest.config.mjs
  client/package-lock.json
  client/package.json
  client/src/components/imagine22/TicTacToe/Model.js
  client/src/components/quiz/App.test.js
  client/test/__mocks__/fileMock.js
  client/test/components/imagine22/Model.test.js
  client/test/components/test.txt
  server/jest.config.mjs
  server/package-lock.json
  server/package.json
  server/test/start.test.js
Labels: documentation, enhancement, dependencies

#589 Adding Reading image and schema.sql part
  client/public/img/lab_images/pronoun_guide.png
  server/database/schema.sql
Labels: Lab-12

#590 added reinforcement section to schema.sql
  server/database/schema.sql
Labels: Lab-12

#591 Added quiz questions for lab 12
  client/src/components/quiz/api/Lab12/quizQuestions.js
  client/src/components/quiz/components/QuizHandler.jsx
Labels: Lab-12

#584 563 story create diploma component
  client/.eslintrc.json
  client/jest.config.mjs
  client/src/assets/fonts/diploma.ttf
  client/src/assets/fonts/old-london.ttf
  client/src/assets/images/lab12/diploma_background.png
  client/src/assets/images/lab12/diploma_seal.png
  client/src/assets/stylesheets/components/App.css
  client/src/assets/stylesheets/components/Diploma.css
  client/src/components/exercise/lab12/Main.js
  client/src/components/exercise/lab12/components/Diploma.js
  client/tailwind.config.js
  client/test/__mocks__/fileMock.js
  client/test/components/imagine22/Model.test.js
  client/test/components/lab12/Diploma.test.js
Labels: Lab-12

#595 578 task find an icon for lab 12
  client/public/img/lab_thumbnails/identity.jpg
  package-lock.json
Labels: Lab-12

#597 564 story create in between explanation text pages
  client/src/components/exercise/lab12/Main.js
  client/src/components/exercise/lab12/pages/Explanations/ExerciseIntro.js
  client/src/components/exercise/lab12/pages/Explanations/KeyTakeaways.js
  client/src/components/exercise/lab12/pages/Explanations/PostCorrectNewsletter.js
  client/src/components/exercise/lab12/pages/Explanations/PostWrongNewsletter.js
  client/src/components/exercise/lab12/pages/Explanations/PreCorrectDiploma.js
  client/src/components/exercise/lab12/pages/Explanations/PreWrongDiploma.js
Labels: Lab-12

#594 573 Story to Create Quiz Service
  .gitignore
  client/public/index.html
  client/src/App.js
  client/src/assets/stylesheets/components/Header.scss
  client/src/assets/stylesheets/pages/quiz.scss
  client/src/components/exercise/lab7/pages/AlterationActivity/AlterationQuiz.js
  client/src/components/quiz/App.css
  client/src/components/quiz/App.js
  client/src/components/quiz/api/Lab1/quizQuestions.js
  client/src/components/quiz/api/Lab10/quizQuestions.js
  client/src/components/quiz/api/Lab11/quizQuestions.js
  client/src/components/quiz/api/Lab2/quizQuestions.js
  client/src/components/quiz/api/Lab3/quizQuestions.js
  client/src/components/quiz/api/Lab4/quizQuestions.js
  client/src/components/quiz/api/Lab5/quizQuestions.js
  client/src/components/quiz/api/Lab6/quizQuestions.js
  client/src/components/quiz/api/Lab7/quizQuestions.js
  client/src/components/quiz/api/Lab8/quizQuestions.js
  client/src/components/quiz/api/Lab9/quizQuestions.js
  client/src/components/quiz/components/Quiz.js
  client/src/components/quiz/components/QuizHandler.jsx
  client/src/components/quiz/components/Result.js
  client/src/components/quiz/index.css
  client/src/components/quiz/index.js
  client/src/components/quiz/serviceWorker.js
  client/src/components/quiz/svg/icon-check.svg
  client/src/components/quiz/svg/logo.svg
  client/src/constants/lab7/alterationQuestions.js
  client/test/components/test.txt
  server/.eslintrc.json
  server/controllers/LabController.js
  server/database/index.js
  server/database/models/TeamMembers.js
  server/database/schema.sql
  server/jest.config.mjs
  server/package.json
  server/routes/index.js
  server/services/LabService.js
  server/test/controllers/ControllerTestUtil.js
  server/test/controllers/ControllerTestUtil.test.js
  server/test/controllers/LabController.test.js
  server/test/services/LabServiceTest.test.js
Labels: enhancement

#602 601 story update lab 12 to use new quiz service
  .gitignore
  client/public/index.html
  client/src/App.js
  client/src/assets/stylesheets/components/Header.scss
  client/src/assets/stylesheets/pages/quiz.scss
  client/src/components/exercise/lab7/pages/AlterationActivity/AlterationQuiz.js
  client/src/components/quiz/App.css
  client/src/components/quiz/App.js
  client/src/components/quiz/api/Lab1/quizQuestions.js
  client/src/components/quiz/api/Lab10/quizQuestions.js
  client/src/components/quiz/api/Lab11/quizQuestions.js
  client/src/components/quiz/api/Lab2/quizQuestions.js
  client/src/components/quiz/api/Lab3/quizQuestions.js
  client/src/components/quiz/api/Lab4/quizQuestions.js
  client/src/components/quiz/api/Lab5/quizQuestions.js
  client/src/components/quiz/api/Lab6/quizQuestions.js
  client/src/components/quiz/api/Lab7/quizQuestions.js
  client/src/components/quiz/api/Lab8/quizQuestions.js
  client/src/components/quiz/api/Lab9/quizQuestions.js
  client/src/components/quiz/components/Quiz.js
  client/src/components/quiz/components/QuizHandler.jsx
  client/src/components/quiz/components/Result.js
  client/src/components/quiz/index.css
  client/src/components/quiz/index.js
  client/src/components/quiz/serviceWorker.js
  client/src/components/quiz/svg/icon-check.svg
  client/src/components/quiz/svg/logo.svg
  client/src/constants/lab7/alterationQuestions.js
  client/test/components/test.txt
  server/.eslintrc.json
  server/controllers/LabController.js
  server/database/index.js
  server/database/models/TeamMembers.js
  server/database/schema.sql
  server/jest.config.mjs
  server/package.json
  server/routes/index.js
  server/services/LabService.js
  server/test/controllers/ControllerTestUtil.js
  server/test/controllers/ControllerTestUtil.test.js
  server/test/controllers/LabController.test.js
  server/test/services/LabServiceTest.test.js
Labels: Lab-12

#604 Merge fixed diploma tests
  client/src/components/exercise/lab12/components/Diploma.js
  client/test/components/lab12/Diploma.test.js
  package-lock.json
  package.json
Labels: Lab-12
